/* ************************************************************************* Minh ********************************************************* */
//Biến màu sắc
$primary-color: #fff;
$primary-color-special: rgba(255, 255, 255, 0.5);
$color-header: #0000FF;
$color-carousel: #4a90e2;
$color-footer: #232f3e;
$font-stack: Helvetica, sans-serif; 
//Biến kích thước chữ
$font-size-1: 1rem;
$font-size-2: 1.2rem;
$font-size-3: 1.5rem;
$font-size-4: 3rem;
//Biến layout:
$layout-1: 50px;
$layout-2: 100px;

/* ************************************************************************* Thu ********************************************************* */